@import url('https://fonts.cdnfonts.com/css/dot-matrix');
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

body {
  
  background-image: url(background.gif);
}

#codeOne,
#codeTwo,
#codeThree,
#codeFour {
  font-size: 25px;
  text-align: center;
  width: 50px;
  height: 50px;
  background-color: transparent;
  caret-color: #78c475;
  color: #78c475;
  font-family: 'Dot Matrix', sans-serif;
  border: white solid;
}

#codeOne {
  position: absolute;
  top: 50%;
  left: 41%;
  transform: translate(-41%, -50%);
}

#codeTwo {
  position: absolute;
  top: 50%;
  left: 47%;
  transform: translate(-47%, -50%);
}

#codeThree {
  position: absolute;
  top: 50%;
  left: 53%;
  transform: translate(-53%, -50%);
}

#codeFour {
  position: absolute;
  top: 50%;
  left: 59%;
  transform: translate(-59%, -50%);
}

#crack {
    font-size: 50px;
    color: white;
    background: transparent;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -100%);
    font-family: 'Dot Matrix', sans-serif;
    width: 300px;
    height: 50px;
}